<% layout('layouts/boilerplate') -%>
    <div class="col-6 offset-4 mt-3">
        <div class="card" style="width: 35rem;">
            <div class="card-header">
                Shopping Cart
            </div>
            <ul class="list-group list-group-flush">
                <% if(cart) { %>
                    <% for (let item of cart.user) { %>
                        <li class="list-group-item">
                            <img src="<%=item.product.image%>" alt="image" style="height:3rem; width:auto;">
                            <a href="/products/<%=item.product._id%>">
                                <%=item.product.name%>
                            </a> price:$<%=item.product.price%> qty:<%= item.quantity%>
                                    <form style='display:inline;' action="/cart/<%=item.product._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger">remove</button>
                                    </form>
                        </li>
                        <% } %>
                            <% } %>
            </ul>
        </div>
    </div>