<% layout('layouts/boilerplate') -%>
    <div class="col-6 offset-4 mt-3">
        <div class="card" style="width: 35rem;">
            <div class="card-header">
                Shopping List
            </div>
            <ul class="list-group list-group-flush">
                <% if(cart) { %>
                    <% var total=0 %>
                        <% for (let item of cart.user) { %>
                            <li class="list-group-item">
                                <img src="<%=item.product.image%>" alt="image" style="height:3rem; width:auto;">
                                <%=item.product.name%>
                                    price:$<%=item.product.price%> qty:<%= item.quantity%>
                            </li>
                            <% total +=item.product.price * item.quantity %>
                                <% } %>
                                    <% } %>
                                        <li class="list-group-item">
                                            total price:$<%=total %>
                                        </li>
            </ul>
        </div>
        <form action="/order" method="POST">
            <div style="width: 35rem;" class="input-group mt-3">
                <span class="input-group-text" id="name-input">Name</span>
                <input type="text" name="name" class="form-control" aria-label="name-input"
                    aria-describedby="name-input">
            </div>
            <div style="width: 35rem;" class="input-group mt-3">
                <span class="input-group-text" id="address-input">Address</span>
                <input type="text" name="address" class="form-control" aria-label="address-input"
                    aria-describedby="address-input">
            </div>
            <div style="width: 35rem;" class="input-group mt-3">
                <span class="input-group-text" id="phone-input">Phone Number</span>
                <input type="text" name="phone" class="form-control" aria-label="phone-input"
                    aria-describedby="phone-input">
            </div>
            <input type="hidden" name="price" value=<%=total%>>
            <button class="btn btn-danger mt-3">Purchase</button>
        </form>

    </div>