<% layout('layouts/boilerplate') -%>

    <div class="col-6 offset-4 mt-3">
        <div class="card" style="width: 35rem;">
            <div class="card-header">
                Product Management
            </div>
            <ul class="list-group list-group-flush">
                <% if(products) { %>
                    <% for (let product of products) { %>
                        <li class="list-group-item">
                            <img src="<%=product.image%>" alt="image" style="height:3rem; width:auto;">
                            <a href="/products/<%=product._id%>">
                                <%=product.name%>
                            </a> price:$<%=product.price%> qty:<%= product.quantity%>
                                    <form style='display:inline;' action="/products/<%=product._id%>/edit" method="GET">
                                        <button class="btn btn-warning">Edit</button>
                                    </form>
                                    <form style='display:inline;' action="/products/<%=product._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>

                        </li>
                        <% } %>
                            <a class="nav-link" href="/products/new">Add product</a>
                            <% } %>
            </ul>
        </div>
    </div>

    <% for (let order of orders) { %>
        <div class="card mt-3 col-6 offset-4" style="width: 25rem;">
            <div class="card-header">
                Order #<%=order._id%>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Buyer: <%=order.name%>
                </li>
                <li class="list-group-item">
                    Address: <%=order.address%>
                </li>

                <li class="list-group-item">
                    Phone number: <%=order.phone%>
                </li>

                <li class="list-group-item">
                    Products: <% for (let product of order.products) {%>
                        <%=product.product.name%>
                            (<%=product.product.quantity%>)
                                <% } %>
                </li>

                <li class="list-group-item">
                    Price: <%=order.price%>
                </li>

            </ul>
        </div>
        <%}%>